@media (max-width:768px) {
    .hamburguer{
        display: block;
    }

    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburguer.active .bar:nth-child(1){
        transform: translateY( 8px) rotate(45deg);
    }

    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left:-100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #6969;
        width: 100%;
        transition: 0.3s;
    }

    .nav-item{
        margin: 10px 0;
    }

    .nav-menu.active{
        left: 0;
    }
}


@media (max-width:500px){

}


@media (min-width:500px) and (max-width:880px) {

    .contato-container, .prod-container, .container-sobre{
        width: 500px;
    }
}

