
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

#home, #sobre, #produtos, #contato{
    height: auto;
    width: 100%;
}

#home{
    height: 100vh;
}

/* Nav */

li{
    list-style: none;
}

a{
    color: #fff;
    text-decoration: none;
    font-family:  Helvetica, sans-serif;
}

.navbar{
    background-color: #669966;
    min-height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    position: fixed;

}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color: burlywood;
}

.hamburguer{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

/* HOME */



#home{
    background: url(./img/fundo1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    
}

.div-logo{
    /* background-color: #6969690a; */
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.natura-logo{
    height: 300px;
}

/* sobre */

#sobre{
    background: url(./img/fundo2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    padding: 150px 0;
}

.container-sobre{
    background-color: rgb(255, 235, 205);
    width: 900px;
    height: fit-content;
    margin: auto;
    border-radius: 8px;
    padding: 50px;
}

.sobre-h1, .prod-h1, .contato-h1{
    color: #FE5F00;
    font-family: "Archivo Black", Courier, monospace;
    margin-bottom: 30px;
}

.sobre-texto-container{
    margin-left: 40px;
}

.sobre-texto{
    font-family: Helvetica, sans-serif;
    font-size: 17px;
    text-indent: 1.25cm;
    margin-bottom: 5px;
    line-height: 26px;
    text-align: justify;
}

/* PRODUTOS */

#produtos{
    padding: 150px 0;
    background-color: #ffffff82;
}

.prod-container{
    background-color: blanchedalmond;
    width: 900px;
    height: 500px;
    margin: auto;
    border-radius: 8px;
    padding: 50px;
}

#contato{
    padding: 150px 0;
    background-color: #f4f4f4;
}

.contato-container{
   
    background-color: #edddc6;
    width: 900px;
    height: 500px;
    margin: auto;
    border-radius: 8px;
    padding: 50px;
}

.form{
    
    margin-left: 40px;
}

.info-form{
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 35px;
    border-radius: 5px;
    margin: 5px;
    padding-left: 5px;
    background-color: rgb(236, 230, 222);
    border: 0;
}

.form-textarea{
    width: 230px;
    height: 150px;
    margin: 5px;
    padding-left: 5px;
    border-radius: 5px;
    background-color: rgb(236, 230, 222);
    border: 0;
    resize: none;
}

.form-enviar, .form-cancelar{
    height: 35px;
    width: 108px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(236, 230, 222);
    border: 0;
    cursor: pointer;
}

.redes-sociais{
    display: flex;
    justify-content: flex-end;
}

.contato-redes-s{
    color: #000000;
    
}



/* Slide */

.fotos-slide{
    height: 150px;
}

.flecha{
    display: flex;
    justify-content: space-between;
}

.produtos .fotos-slide{
    transform: scale(0.6);
    transition: 0.3s;
    -moz-transition: 0.3;
    -webkit-transition: 0.3;
    -o-transition: 0.3;
    outline: none;
}


.produtos .fotos-slide.slick-center{
    transform: scale(1);
}