*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#home, #sobre{
    height: 100vh;
    width: 100%;
}

/* Nav */

li{
    list-style: none;
}

a{
    color: #fff;
    text-decoration: none;
}

.navbar{
    background-color: #669966;
    min-height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    position: fixed;

}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color: burlywood;
}

.hamburguer{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

/* HOME */



#home{
    background: url(./img/fundo1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    
}

.div-logo{
    /* background-color: #6969690a; */
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.natura-logo{
    height: 300px;
}

/* sobre */

#sobre{
    background: url(./img/fundo2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
}

.container-sobre{
    background-color: blanchedalmond;
    width: 800px;
    height: 500px;
    justify-content: center;
    place-content: center;
}


